body {
   background-image: url("./rayo.jpg")
}

h2 {
   font-size: 2.6rem;
   margin-top: 1.5rem;
   margin-left: 2rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
   background-color:rgba(255, 255, 255, 0.911);
   width: 41rem;
   border-radius: 15px;
   border: .3rem solid transparent
   
}

.card:hover {
   width: 41.5rem;
   background-color: rgba(0, 0, 0, 0.788);
   color: white;
   transition: background-color .4s ease-in;
   border: .3rem solid white;
}

.card img {
   height: 20rem;
   border-top-left-radius: 1.4rem;
   border-bottom-left-radius: 1.5rem;
}

.card:hover img {
   height: 20rem; 
   border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
  

}

a {
   text-decoration: none;
   color: black;
}

.col{
   margin-bottom:1rem;
}

p {
   font-size: 2rem;
   margin-top: 1.5rem;
   margin-left: 3rem;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}