

.buttonIngresar {
    margin-left: 70rem;
    margin-top: 30rem;
    height: 10rem;
    width: 30rem;
    font-size: 5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
    border: .2rem solid rgb(32, 17, 241);
    border-radius: 1rem;
}

.buttonIngresar:hover {
    background-color: rgba(35, 42, 107, 0.233);
    border: .2rem solid #fff;
    color: #000;
    transition: background-color .5s ease-in;
    transition: border .5s ease-in;
    transition: color .5s ease-in;
}
/* This only changes this particular animation duration */
.animate__animated.animate__zoomIn {
    --animate-duration: 3s;
}

/* This changes all the animations globally */
